/* ************************************** GENERAL ************************************** */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #555;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  height: 100vh;
}

/* ************************************** TOP PART ************************************** */
.top {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(budget-controller-background.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  height: 40vh;
}

.budget {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  color: #fff;
}

.budget__title {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
}

.budget__value {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 5px;
  border-radius: 10px;
  font-size: 47px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.budget__income,
.budget__expenses {
  border-radius: 5px;
  padding: 12px;
  text-transform: uppercase;
}

.budget__income {
  background-color: #1a7c43;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.budget__expenses {
  background-color: #9b2e22;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second-child {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.budget__income--text,
.budget__expenses--text {
  font-size: 13px;
}

.budget__expenses--percentage {
  background-color: #bb554ae5;
  padding: 2px;
  border-radius: 2px;
  font-size: 12px;
}
